<div class="venue">
  <div class="venue__calendar">
    <a class="venue__calendar-link" href="{{venue.calendar.link}}" target="{{venue.calendar.target}}">
      <img src="{{@root.config.asset_url}}{{venue.calendar.image}}">
      <span class="venue__calendar-text">{{{venue.calendar.text}}}</span>
    </a>
  </div>
  <div class="venue__address">
    <a class="venue__address-link" href="{{venue.address.link}}" target="{{venue.address.target}}">
      <img src="{{@root.config.asset_url}}{{venue.address.image}}">
      <span class="venue__address-text">{{{venue.address.text}}}</span>
    </a>
  </div>
</div>
