<div class="row speaker__header">
  <div class="col-sm-7 col-md-7">
    <h1>{{content.title}}</h1>
    <div class="speaker__header-detail ubuntu-large ubuntu--regular">{{content.description}}</div>
  </div>
  <div class="col-sm-5 col-md-5 speaker__header-desktop">
    <div class="speaker__header-masthead">
      <div class="speaker__header-masthead__image">
        <img src="{{config.asset_url}}{{content.decoration}}" alt="{{content.decorationAlt}}">
      </div>
    </div>
  </div>
</div>
