<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 speaker__cards-item js_speaker__cards-item">
  <a href="{{content.detailsLink}}" class="js-data-binding-link" data-view="speaker-lightbox" data-callback="toggleLightbox" data-callback-value="speaker-lightbox" data-asset-url="{{@root.config.asset_url}}">
    <div class="speaker__cards-item__image">
      <div class="speaker__cards-item__image-wrapper">
        <img src="{{@root.config.asset_url}}{{content.image}}" alt="" class="speaker__cards-item__image-background">
        <img src="{{@root.config.asset_url}}frame-speaker-page.png" alt="{{content.imageAlt}}" class="speaker__cards-item__image-masthead">
      </div>
    </div>
    <div class="speaker__cards-item__content">
      <div class="speaker__cards-item__content-title ubuntu-large ubuntu--bold text-capitalize">{{content.name}}</div>
      <div class="speaker__cards-item__content-text ubuntu-large ubuntu--regular">{{{content.title}}}</div>
    </div>
  </a>
</div>
